<div class="container">
  <div class="container-inner inner-default clearfix">
    <% @items.each do |item| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <% if item.image? %>
                  <%= image_tag(item['mediumImageUrls'].first['imageUrl'].gsub('?_ex=128x128', '')) %>
            <% else %>
                  <%= image_tag("no-image.png" , alt: item['itemName']) %>
            <% end %>
          </div>
        </div>
        <div class="detail">
          <p class="title">
            <%= item.name %>
          </p>
        </div>
        <div class="action clearfix">
       <% itemmodel = Item.find_by(item_code: item['itemCode']) %>
       <% if itemmodel != nil && current_user.want?(itemmodel) %>
       <% wantmodel = current_user.want_items.find_by(item_code: item['itemCode']) %>
               <%= link_to "" , ownership_path(:id => wantmodel.id , type: "Want") ,
               :class => "btn-want btn btn-danger btn-sm want_it",
               :item_id => "want-#{item['itemCode']}",
               :remote => true,
               :method => :delete %>
          <% else %>
               <%= link_to "" , ownerships_path(item_code: item['itemCode'] , type: "Want") ,
               :class => "btn-want btn btn-danger btn-sm want" ,
               :item_id => "want-#{item['itemCode']}",
               :remote => true,
               :method => :post %>
          <% end %>
          
          <% if itemmodel != nil && current_user.have?(itemmodel) %>
          <% havemodel = current_user.have_items.find_by(item_code: item['itemCode']) %>
                <%= link_to "" , ownership_path(:id => havemodel.id , type: "Have") ,
                :class => "btn-have btn btn-warning btn-sm have_it",
                :item_code => "have-#{item['itemCode']}",
                :remote => true,
                :method => :delete %>
           <% else %>
               <%= link_to "" , ownerships_path(item_code: item['itemCode'] , type: "Have") ,
                 :class => "btn-have btn btn-warning btn-sm have",
                 :item_code => "have-#{item['itemCode']}",
                 :remote => true,
                 :method => :post %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

